body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size:16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px 0;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;

}

button {
  background: rgb(113, 235, 7);
  border: green;
  display: block;
  justify-self: center;
  padding: 10px;
}
